<style>
.payslip{
  font-size: 12px;
}

  .payslip table.header-table, .payslip table.header-table td, .payslip table.header-table th {
    border: none !important;
    background: none !important;
    text-align: left;
  }
  .payslip .title{ text-align: center; font-weight: bold; margin: 20px 0; font-size: 16px;}
  .payslip .table th, .payslip .table td {border: 1px solid #000 !important;} 
  .payslip .table th{
    background-color: #e1e1e1;
  }
  .payslip table td{
    background-color: #ded9c3;
    text-align: right;
  }
</style>

<div class="payslip" ng-controller="viewPayslipCtrl">
  <form class="form-horizontal" name="payslip">
    <header class="header">
      <table class="table header-table">
        <tr class="form-group">
          <td>
          <img src="css/images/{{company.logo}}" width="60px" />
          </td>
          <td>
          <section style="display: inline-block; float: right;">
            <div style="font-size: 18px; font-weight: bold;" ng-bind-html="company.name"></div>
            <div class="clearfix"></div>
            <div style="font-weight: bold; font-size: 9px">
            {{company.branches[0].location.address}}
            <br/>
            {{company.branches[0].location.city}}, {{company.branches[0].location.state}}
            <br/>
            {{company.branches[0].location.country}}
            <br/>
            Phone: {{company.branches[0].phone}}

            <div>
          </section>
          </td>
        </tr>
      </table>

    </header>
<!-- <img src="css/images/accion-logo.png" class="img-responsive" />
 -->
    <p class="title">Pay slip for the month of {{employee.paySlip.month}} {{employee.paySlip.year}}</p>

    <table class="table emp-info">
      <tr class="form-group">
        <th>    
          <label for="empId" class="control-label">Employee Id</label>
        </th>
        <td>
          {{employee.empId}}
        </td>
        <th>    
          <label for="panNumber" class="control-label">PAN Number</label>
        </th>
        <td>
          {{employee.panNumber}}
        </td>

      </tr>

      <tr class="form-group">

        <th>    
          <label for="fname" class="control-label">Employee Name</label>
        </th>
        <td>
<strong>{{employee.name.fname}} {{employee.name.lname}}</strong>
        </td>
        <th>    
          <label for="bankName" class="control-label">Payment Details</label>
        </th>
        <td>
          {{employee.accountDetails.bankName}} A/C no. {{employee.accountDetails.accountNumber}}
        </td>

      </tr>

      <tr class="form-group">
        <th>    
          <label for="designation" class="control-label">Designation</label>
        </th>
        <td>
          {{employee.designation}}
        </td>
        <th>    
          <label for="onsiteDays" class="control-label">Onsite Days</label>
        </th>
        <td>
          {{employee.onsiteDays}}
                  </td>

      </tr>


      <tr class="form-group">
        <th>    
          <label for="level" class="control-label">Level</label>
        </th>
        <td>
          {{employee.level}}
        </td>

        <th>    
          <label for="lop" class="control-label">L O P days</label>
        </th>
        <td>
          {{employee.lop}}
        </td>
      </tr>

      <tr class="form-group">
        <th>    
          <label for="workingdays" class="control-label">Working Days</label>
        </th>
        <td>
          {{employee.workingDays}}
        </td>

        <th>    
          <label for="providentFundNumber" class="control-label">PF A/C Number</label>
        </th>
        <td>
          {{employee.providentFundNumber}}
        </td>
      </tr>

    </table>


    <div class="row">  
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
        <table class="table salary-details">
          <tr>
            <th class="column-heading text-center">Earnings</th>
            <td class="column-heading"><strong>Amount in Rs.</strong></td>
          </tr> 
          <tr>
            <th>Basic</th>
            <td>{{employee.earnings.basic | number:0}}</td>
          </tr>
          <tr>
            <th>HRA</th>
            <td>{{employee.earnings.hra | number:0}}</td>
          </tr>

          <tr>
            <th>Medical Allowance</th>
            <td>{{employee.earnings.medicalAllowance | number:0}}</td>
          </tr>

          <tr>
            <th>Conveyance Allowance</th>
            <td>{{employee.earnings.conveyanceAllowance| number:0}}</td>
          </tr>

          <tr>
            <th>Special Allowance</th>
            <td>{{employee.earnings.specialAllowance| number:0}}</td>
          </tr>
          <tr>
            <th>LTA(monthly)</th>
            <td>{{employee.earnings.leaveTravelAllowance | number:0}}</td>
          </tr>
          <tr>
            <th class="column-heading text-center">Gross Total</th>
            <td><strong>{{employee.earnings.grossTotal | number:0}}</strong></td>
          </tr>

        </table>

      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
        <table class="table">
          <tr>
            <th class="column-heading text-center">Decuctions</th>
            <td class="column-heading"><strong>Amount in Rs.</strong></td>
          </tr>
          <tr>
            <th>Provident Fund</th>
            <td>{{employee.deductions.providentFund | number:0}}</td>
          </tr>
          <tr>
            <th>Prof. Tax</th>
            <td>{{employee.deductions.professionalTax | number:0}}</td>
          </tr>
          <tr>
            <th>TDS</th>
            <td>{{employee.deductions.TDS | number:0}}</td>
          </tr>
          <tr>
            <th>Other's</th>
            <td>{{employee.deductions.other | number:0}}</td>
          </tr>
          <tr>
            <th>Loan Installment</th>
            <td>{{employee.deductions.loanInstallment | number:0}}</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td></td>
          </tr>
          <tr>
            <th class="text-center">Sub Total</th>
            <td><strong>{{employee.deductions.subTotal | number:0}}</strong></td>
          </tr>
        </table>  
      </div>

      <div class="container">
        <p>Loan Details as on date</p>
        <table class="table">
          <tr>
            <th>Loan Taken</th>
            <td>0</td>
            <th>Repaid</th>
            <td>0</td>
            <th>Balance</th>
            <td>0</td>
          </tr>
        </table>
      </div>

      <div class="container">
        <p>Summary of Pay</p>
        <table class="table">
          <tr>
            <th class="text-center">Gross Pay</th>
            <th class="text-center">Total Deductions</th>
            <th class="text-center">Net Pay Credited</th>
          </tr>
          <tr>
            <td class="text-center"><strong>{{employee.earnings.grossTotal | number:0}}</strong></td>
            <td class="text-center"><strong>{{employee.deductions.subTotal | number:0}}</strong></td>
            <td class="text-center"><strong>{{employee.netPay | number:0}}</strong></td>
          </tr>
        </table>
      </div>

      <div class="container">
        <p>Addl. Details if any</p>
        <table class="table">
          <tr>
            <th>&nbsp;</th>
            <td></td>
          </tr>
        </table>
      </div>


      <footer class="container">
        <p>This document contains confidential information. If you are not the intended recipient you are not authorized to use or disclose it in any form. If you received this in error please distroy it along with any copies and notify the sender immediately.</p>
      </footer>

<!-- 
  <div class="pull-right"><button class="btn btn-default" ui-sref="viewpayslip({})">Create Payslip</button></div> -->

</div>
